:root {
  --bg: #2c2537;
  --text: #fff;
  --accent: gold;
  --pad: 0.75rem;
}

body {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
  font-family: Roboto, sans-serif;
  background: var(--bg);
  color: var(--text);
  height: 100vh;
  margin: 2rem;
}

/* body {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  font-family: Roboto, sans-serif;
} */

form {
  display: flex;
  flex-direction: column;
}

button {
  width: fit-content;
}

input {
  display: block;
  padding: var(--pad);
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #eee;
  color: inherit;
  width: 300px;
  outline: none;
}

label {
  display: block;
  position: relative;
  width: fit-content;
  left: var(--pad);
  top: calc(-2.5 * var(--pad));
  z-index: -1;
  background: var(--bg);
  opacity: 0%;
  transition: transform 200ms;
  /* pointer-events: none; */
  transform-origin: left;
}

input:focus + label {
  transform: translateY(calc(-1.9 * var(--pad))) scale(0.8);
  z-index: 0;
  opacity: 100%;
  color: var(--accent);
}
